<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <title>Bootstrap Tutorial</title>

    <meta charset="UTF-8">
    <!-- If IE use the latest rendering engine -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Set the page to the width of the device and set the zoon level -->
    <meta name="viewport" content="width = device-width, initial-scale = 1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/scripts/express-bootstrap-service/bootstrap/dist/css/bootstrap.min.css">
    <!-- Angular from NPM -->
    <script type="text/javascript" src="/scripts/angular/angular.min.js"></script>
    <script type="text/javascript" src="/scripts/angular-route/angular-route.js"></script>

</head>
<body>

<div class="container" ng-controller="MainController">

    <ul class="nav nav-tabs nav-justified">
        <li role="presentation">
            <a href="#!temp">
                <span class="glyphicon glyphicon-fire" aria-hidden="true"></span>
                Temp
            </a>
        </li>
        <li role="presentation">
            <a href="#!lux">
                <span class="glyphicon glyphicon-certificate" aria-hidden="true"></span>
                Lux
            </a>
        </li>
        <li role="presentation">
            <a href="#!touch">
                <span class="glyphicon glyphicon-hand-up" aria-hidden="true"></span>
                Touch
            </a>
        </li>
    </ul>
    <hr/>

    <div ng-view></div>

</div>


<!-- Angular Routing -->
<script src="/js/angular-routing.js"></script>
<!-- JQuery from Node Modules -->
<script src="/scripts/jquery/dist/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="/scripts/express-bootstrap-service/bootstrap/dist/js/bootstrap.min.js"></script>

</body>
</html>